body {
  background-image: url('../img/ross-lake.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#one {
  /*border: 2px solid orange;*/
  transform: scaleX(-1);
  display: inline;
  float: left;
  margin-right: 100px;
}

#two {
  /*border: 2px solid orange;*/
  display: inline;
  float: right;
  margin-left: 25px;
}

header {
  /*border: 2px solid orange;*/
  background-color: #FEFEFE;
  height: 185px;
}

h1 {
  /*border: 2px solid orange;*/
  display: inline;
  /*text-align: center;*/
  font-family: 'Pacifico', cursive;
  color: salmon;
  font-size: 4em;
  /*padding-top: 25px; */
  position:
}

h3 {
  /*border: 2px solid orange;*/
  /*display: inline;*/
  text-align: center;
  color: salmon;
  font-size: 3em;
}

#fam {
  display: block;
  margin:auto;
}

#salmon {
  display: block;
  float: left;
  width: 25%;
  height: auto;
}

#salmon2 {
  display: block;
  float: right;
  width: 25%;
  height: auto;
}

table {
  background-color: salmon;
  margin: auto;
}

form {
  color: salmon;
}

li {
  color: salmon;
  font-size: 22px;
  margin: auto;
}
